{% extends 'userapp/base.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">

    <div class="row">
         <div class="col-sm-12 col-md-12">
                <div class="card small bar-chart">
                  <div class="card-header">
                    <div class="card-title">Bar charts</div>
                  </div>
                  <div class="card-content">
                    <canvas id="mychart" style="height:400px;"></canvas>
                
                  </div>
                </div>
              </div>
{% comment %}        
            <table style="margin-top:20px" width="100%">
                <tbody><tr>
                  <th>&nbsp;</th>
                  <th style="background-color:#009551; color:#ffffff;"><center>Event Progress</center></th>
                  <th>&nbsp;</th>
                </tr>
                <tr>
                  <td width="5%">&nbsp;</td>
                  <td style="background-color:#00a65a;  padding:40px;" width="90%" align="center"><h3  style="color:#ffffff;">20.4455 %</h3></td>
                  <td width="5%">&nbsp;</td>
                </tr>
              </tbody></table>

            <table style="margin-top:10px" width="100%">
                <tbody><tr>
                  <th>&nbsp;</th>
                  <th style="background-color:#DA8C10; color:#ffffff;"><center>Calories Burned</center></th>
                  <th>&nbsp;</th>
                </tr>
                <tr>
                  <td width="5%">&nbsp;</td>
                  <td style="background-color:#F29C10; padding:40px;" width="90%" align="center"><h3 style="color:#ffffff;">{{kcal}} kCal</h3></td>
                  <td width="5%">&nbsp;</td>
                </tr>
              </tbody></table>
            
        
    {% endcomment %}
    </div> 
</div>
{% endblock body %}
{% block script %}

<script>
var dataset=[];
var label=[]
 var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
           if (xmlhttp.status == 200) {
              var alldata = eval(xmlhttp.responseText);
       for(x=0;x<alldata.length;x++){
         var  kcal=(alldata[x].meter/1000) * alldata[x].weight *1.036
         dataset.push(kcal)
         label.push(alldata[x].date)
       }
       progressChart(dataset,label)
            //console.log("set is here,", xmlhttp.responseText[0])
           }
           else if (xmlhttp.status == 400) {
              alert('There was an error 400');
           }
           else {
               alert('something else other than 200 was returned');
           }
        }
    };

    xmlhttp.open("GET", "/userprogress", true);
    xmlhttp.send();
 const progressChart=(data,label)=>{
   
   var ctx = document.getElementById("mychart");
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels:label,
                        datasets: [
                          
                            {
                                label: "Calories Burned",
                                borderColor: "#009688",
                                borderWidth: "1",
                                backgroundColor: "#F29C10",
                                pointHighlightStroke: "#009688",
                                data: dataset,
                            }
                        ]
                    },
                    options: {
        responsive: true,
        maintainAspectRatio: false,
        tooltips: {
            mode: 'point',
            intersect: false,
        },
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
                  
              }]
          }
      }
                });
                
 }
</script>
{% endblock script %}